{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Fire Truck{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <div class="card-title">Confirm Deletion</div>
                    </div>
                    <div class="card-body">
                        <p>Are you sure you want to delete the fire truck:</p>
                        <h4 class="text-danger">{{ firetruck.truck_number }} ({{ firetruck.model }})</h4>
                        <p>This action cannot be undone.</p>

                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger btn-rounded">Yes, Delete</button>
                                <a href="{% url 'firetruck-list' %}" class="btn btn-secondary btn-rounded">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}