{% extends 'base.html' %}
{% load static %}

{% block title %}Confirm Delete Weather Condition{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Confirm Delete Weather Condition</h4>
                    </div>
                    <div class="card-body">
                        <p>Are you sure you want to delete the weather condition record for Incident <strong>#{{ weather_condition.incident.pk }}</strong> with description "<strong>{{ weather_condition.weather_description }}</strong>"?</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Yes, Delete
                                </button>
                                <a href="{% url 'weatherconditions-list' %}" class="btn btn-secondary">
                                    <i class="fa fa-times-circle"></i> Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}