{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Weather Condition{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2"> {# Center the form a bit #}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Weather Condition</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            {# Render non-field errors #}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {# Render form fields manually for more control and Bootstrap styling #}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-save"></i> Update
                                </button>
                                <a href="{% url 'weatherconditions-list' %}" class="btn btn-secondary">
                                    <i class="fa fa-times-circle"></i> Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}